body {
    padding: 20px;
    max-width: 940px;
    min-width: 720px;
    letter-spacing: 0.1em;
    font-family: serif, sans-serif;
    background-color: whitesmoke;
}
h1 {
    padding: 0px;
    color: #143f5a;
    letter-spacing: 0.12em;
    text-shadow: 2px 2px 3px rosybrown;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h2 {
    color: #0088dd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0px 3px;
}
.content {
    column-count: 2;
    column-width: 5em; 
    padding: 15px;   
}
.content h2 {
    color: #143f5a;
    letter-spacing: 0.12 em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content p {
    color: #0088dd;
    letter-spacing: 0.12 em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
.content h3 {
    color: #143f5a;
    letter-spacing: 0.12 em;
    padding: 15px;
}
aside {
    float: right;
    color: #143f5a;
    letter-spacing: 0.12 em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 55px;
}
aside p {
    color: #0088dd; 
    letter-spacing: 0.12 em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
fieldset {
    color: #143f5a;
    letter-spacing: 0.12 em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}